/*

████████╗██╗  ██╗███████╗███╗   ███╗███████╗███████╗
╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝██╔════╝
   ██║   ███████║█████╗  ██╔████╔██║█████╗  ███████╗
   ██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝  ╚════██║
   ██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗███████║
   ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝╚══════╝

*/

/*******************************
        Theme Selection
*******************************/

/* To override a theme for an individual element
   specify theme name below
*/

/* Global */
@site       : 'evisions';
@reset      : 'evisions';

/* Elements */
@button     : 'evisions';
@divider    : 'evisions';
@flag       : 'evisions';
@header     : 'evisions';
@icon       : 'evisions';
@image      : 'evisions';
@input      : 'evisions';
@label      : 'evisions';
@list       : 'evisions';
@loader     : 'evisions';
@rail       : 'evisions';
@reveal     : 'evisions';
@segment    : 'evisions';
@step       : 'evisions';

/* Collections */
@breadcrumb   : 'evisions';
@form         : 'evisions';
@grid         : 'evisions';
@menu         : 'evisions';
@message      : 'evisions';
@table        : 'evisions';
@calendar     : 'evisions';
@visualsearch : 'evisions';

/* Modules */
@accordion  : 'evisions';
@checkbox   : 'evisions';
@dimmer     : 'evisions';
@dropdown   : 'evisions';
@modal      : 'evisions';
@nag        : 'evisions';
@popup      : 'evisions';
@progress   : 'evisions';
@rating     : 'evisions';
@search     : 'evisions';
@shape      : 'evisions';
@sidebar    : 'evisions';
@sticky     : 'evisions';
@tab        : 'evisions';
@transition : 'evisions';
@video      : 'evisions';

/* Views */
@ad        : 'evisions';
@card      : 'evisions';
@comment   : 'evisions';
@feed      : 'evisions';
@item      : 'evisions';
@statistic : 'evisions';
@tutorial  : 'evisions';

/*******************************
            Folders
*******************************/

@app: 'irb';

/* Path to theme packages */
@themesFolder : 'themes/';

/* Path to site override folder */
@siteFolder   : 'apps/@{app}/';


/*******************************
         Import Theme
*******************************/

@import "semantic/src/theme.less";

/* End Config */