@type    : 'collection';
@element : 'calendar';

@import (multiple) '@{themeConfig}';

/**
 * Basic Styling
 */
.ui.calendar.right.aligned .day > .text {
  display: block;
  text-align: right;
  left: auto;
  right: 0.1rem;
}
.ui.calendar.large.right.aligned .day > .text {
  right: 0.3rem;
}

.ui.calendar.center.aligned .day > .text {
  display: block;
  text-align: center;
  left: 50%;
  margin-left: -0.5rem;
}
.ui.calendar .day .appointments {
  font-size: @fontSize;
}

.ui.calendar.right.aligned .week.header .cell {
  text-align: right;
}

.ui.calendar.center.aligned .week.header .cell {
  text-align: center;
}

.ui.calendar .week.header .cell {
  background: @weekHeaderBackground;
}
.ui.calendar .week .cell {
  display: inline-block;
  float: left;
}
.ui.calendar .week .day {
  background: @dayBackground;
}
.ui.calendar .week .day table {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  table-layout: fixed;
}
.ui.calendar .week {
  width: 100%;
}
.ui.calendar,.ui.week {
  .controls.default {
    background: @defaultControlsBackground;
    height: @defaultControlsHeight;
  }
  .controls.default.large {
    font-size: @large;
  }
  .controls.default.massive {
    font-size: @massive;
  }
  .controls.default.huge {
    font-size: @huge;
  }
}
.ui.calendar.large {
  font-size: @relativeLarge;
}
.ui.calendar.massive {
  font-size: @relativeMassive;
}
.ui.calendar.large .week.header .cell {
  background: @largeWeekHeaderBackground;
}
.ui.calendar.large .week .day {
  background: @largeDayBackground;
}

.ui.calendar .day {
  color: @dayColor;
  width: @normalDayWidth;
  height: @normalDayHeight;
  max-width: 100%/7;
  position: relative;
  padding: @dayPadding;
  padding-top: 1.5rem;
  vertical-align: middle;
  position: relative;
}

.ui.calendar .day > .text {
  font-weight: @dayFontWeight;
  position: absolute;
  top: 0.1rem;
  left: 0.1rem;
}

.ui.calendar.large .day > .text {
  top: 0.3rem;
  left: 0.3rem;
}

.ui.calendar.large .day {
  padding: @largeDayPadding;
  padding-top: 1.7rem;
}

.ui.calendar .day > .text {
  display: inline-block;
}

.ui.calendar:not(.celled):not(.innercelled) .day:not(.other) {
  border-top: @dayBorderTop;
}

.ui.calendar .day .appointment {
  position: absolute;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
  width: @appointmentWidth;
  height: @appointmentWidth;
  vertical-align: baseline;
  padding: @appointmentWidth;
  border-radius: 500rem;
  text-align: center;
  background-color: @appointmentBackground;
  left: 50%;
  margin-left: -(@appointmentWidth);
  bottom: .15em;
}

.ui.calendar .day.other > .text {
  font-weight: @otherDayFontWeight;
  color: @disabledTextColor;
}

.ui.calendar .day.weekend:not(.other) {
  color: @weekendDayColor;
}

.ui.calendar .day.weekend:not(.active) {
  background: @weekendDayBackground !important;
}

.ui.calendar .day.today {
  background-color: @todayBackground !important;
}

.ui.calendar .day.today > .text {
  font-weight: @todayFontWeight;
}

.ui.calendar .day .more {
  color: @moreColor;
  text-align: center;
  position: absolute;
  left: 0;
  width: 100%;
  bottom: @moreBottom;
  height: auto;
}

.ui.calendar .day .more:hover {
  color: @moreColorHover;
}

.ui.calendar .day.disabled {
  cursor: default !important;
  color: @disabledTextColor;
}


.ui.calendar > .content > table{
  width: 100%;
  table-layout: fixed;
}

.ui.calendar .week {
  // display: table-row;
  table-layout: fixed;
}

.ui.calendar .week.header .cell {
  color: @contentHeaderColor;
  width: @normalHeaderWidth;
  height: @normalHeaderHeight;
  padding: @headerCellPadding;
  // display: table-cell;
  vertical-align: top;
}

.ui.calendar.large .week.header .cell {
  height: @largeHeaderHeight;
}

.ui.calendar.large .week.header .cell {
  padding: @largeHeaderCellPadding;
}

.ui.calendar .controls.default:not(.fluid) {
  width: @controlsWidth;
}
.ui.calendar,.ui.week {
  .controls.default table {
    height: 100%;
  }
  .controls.default .month {
    font-weight: bold;
  }
  .controls.default .year {
    font-weight: normal;
  }
  .controls.default .year .dropdown .text{
    font-weight: normal;
  }

  .controls.default .title {
    width: auto;
  }

  .controls.default .date.display {
    cursor: pointer;
    &:hover {
      color: @dateDisplayHoverColor;
    }
  }

  .controls.default table {
    vertical-align: middle;
  }

  .controls.default.fluid table {
    width: 100%;
  }

  .controls.default.centered table {
    margin-left: auto;
    margin-right: auto;
  }

  .controls.default table td:nth-child(1),
  .controls.default table td:nth-child(3) {
    cursor: pointer;
    width: @normalDayWidth;
    vertical-align: middle;
    text-align: center;
  }

  .controls.default table td .control {
    padding: @controlPadding;
    border-radius: @controlBorderRadius;
    display: inline-block;
  }

  .controls.default table td .control .icon {
    margin: 0;
  }

  .controls.default table td .control:hover {
    background: @controlBackgroundHover;
    color: @controlColorHover;
  }

  .controls.default table td:nth-child(2) {
    text-align: center;
    vertical-align: middle;
  }

  .controls.default table td {
    text-align: center;
    vertical-align: middle;
  }
}

.ui.week .controls.default {
  width: 100%;
  margin-bottom: 0.75em;
}

/**
 * Fluid
 */

.ui.calendar.fluid {
  width: 100%;
}

.ui.calendar.fluid .day {
  width: 100%/7;
}

.ui.calendar.fluid .week {
  width: 100%;
}

.ui.calendar.fluid .week.header .cell {
  width: 100%/7;
}
.ui.calendar.fluid .controls.default {
  width: 100%;
}

.ui.calendar.fluid .controls.default table td:nth-child(1),
.ui.calendar.fluid .controls.default table td:nth-child(3) {
  width: 100%/7;
}

/**
 * Vertical Fluid
 */
.ui.calendar.vertical.fluid {
  position: relative;
  // random fix for borders
  height: ~"calc(100% - 10px)";
}
.ui.calendar.vertical.fluid .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  // add 2px for borders
  bottom: 2px;
}
.ui.calendar.vertical.controls.fluid .content {
  top: @normalHeaderHeight;
}
.ui.calendar.vertical.fluid .content > table {
  height: 100%;
}
.ui.calendar.large.vertical.controls.fluid .content {
  top: @largeHeaderHeight;
}
.ui.calendar.vertical.fluid .week.header {
  height: 2em;
}
.ui.calendar.vertical.fluid .week:not(.header) {
  height: ~"calc("(100%/6)~" - "(@weekHeaderHeight/6)~")";
}
.ui.calendar.vertical.fluid .cell {
  height: 100%;
}

/**
 * Celled
 */
.ui.calendar.celled .day {
  border-left: @dayCellBorder;
  border-bottom: @dayCellBorder;
}

.ui.calendar.celled .day:last-child {
  border-right: @dayCellBorder;
}

.ui.calendar.celled .week.header .cell {
  border-left: @headerCellBorder;
  border-top: @headerCellBorder;
  border-bottom: @headerCellBorder;
}

.ui.calendar.celled .week.header .cell:last-child {
  border-right: @headerCellBorder;
}

/**
 * Inner Celled
 */
 .ui.calendar.innercelled .day:first-child {
    border-left: 0;
 }
 .ui.calendar.innercelled .day {
   border-left: @dayCellBorder;
   border-bottom: @dayCellBorder;
 }
 .ui.calendar.innercelled .week:last-child .day {
   border-bottom: 0;
 }
 .ui.calendar.innercelled .week.header .cell:first-child {
   border-left: 0;
 }
 .ui.calendar.innercelled .week.header .cell {
   border-left: @headerCellBorder;
   border-bottom: @headerCellBorder;
 }
/**
 * Selectable
 */
.ui.calendar.selectable .day {
  cursor: @dayCursor;
}

.ui.calendar.selectable .day.active {
  background-color: @dayBackgroundActive;
}
.ui.calendar.selectable .day.today.active {
  background-color: @todayBackgroundActive;
}

.ui.calendar.selectable .day.active > .text {
  color: @dayColorActive;
}


/**
 * Label Support
 */
.ui.calendar .day .ui.label.empty.floating {
  top: -0.3em;
  margin: 0em 0em 0em -0.7em !important;
}

/**
 * Appointment Information
 */
.ui.calendar .day .appointments .item {
  background: @appointmentItemBackground;
  color: @appointmentItemColor;
  padding: @appointmentItemPadding;
  border: @appointmentItemBorder;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  margin-bottom: 0.5em;
  box-shadow: @boxShadow;
  position: relative;
}
.ui.calendar .day .appointments .item:after {
  content: '';
  position: absolute;
  background: @blue;
  top: 50%;
  width: @dayDotSize;
  height: @dayDotSize;
  border-radius: @dayDotSize;
  margin-top: -@dayDotSize/2;
  left: 0.5em;
}

.ui.calendar .day .appointments .item:last-child {
  margin-bottom: 0;
}
.ui.calendar .day .appointments .item .time {
  display: inline;
  margin-right: 0.5rem;
}
@media only screen and (max-width : @fullScreenCalendar) {
  .ui.calendar .day .appointments .item .text {
    display: none !important;
    visibility: hidden;
    width: 0px;
    height: 0px;
  }
}
@media only screen and (max-width: @tabletScreenCalendar) {
  .ui.calendar .day .appointments .item .time {
    visibility: hidden;
  }
}

// @media only screen and (max-width: )
.ui.calendar .day .appointments .item .text {
  display: inline;
  font-weight: @appointmentItemTextWeight;
}
.ui.calendar .day .appointments .item:hover {
  background: @appointmentItemHoverBackground;
  color: @appointmentItemHoverColor;
  border: @appointmentItemHoverBorder;
}

.ui.calendar .day .appointments .item.active {
  background: @appointmentItemActiveBackground;
  color: @appointmentItemActiveColor;
  border: @appointmentItemActiveBorder;
}


/**
 * Disabled Appointments
 */
.ui.calendar .day .appointments .item.disabled {
  background: @disabledAppointmentBackground;
  color: @disabledAppointmentColor;
  border: @disabledAppointmentBorder;
  cursor: @disabledAppointmentCursor;
}

/**
 * Calendar Week
 */

.ui.week {
  position: relative;
  width: 400px;
  height: 400px;
}

.ui.week.fluid {
  width: 100%;
}

.ui.week.fluid.vertical {
  height: 100%;
}

.ui.week > .wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.ui.week table .collapsing {
  width: 1px;
  white-space: nowrap;
}
.ui.week table.layout {
  width: 100%;
  border-collapse: collapse;
}
.ui.week table.fixed.layout  {
  table-layout: fixed;
}
.ui.week table.full.height {
  height: 100%;
}

.ui.week .time.gutter {
  width: @weekGutterWidth;
}

.ui.week .time.grid > table.layout {
  vertical-align: bottom;
}
.ui.week .time.grid > table.layout td {
  height: @timeGridHeight;
}
.ui.week .time.grid > table.layout .time.interval {
  background: @timeGridDayBackground;
  padding: @timeGridDayPadding;
  border-bottom: @timeGridDayBorder;
  border-left: @timeGridDayBorder;
  border-right: @timeGridDayBorder;
}
.ui.week .time.grid > table.layout .time.interval:not(.business) {
  background: @timeGridDayOffHoursBackground;
}
.ui.week .time.grid .major.interval .time.interval {
  border-bottom: @timeGridMajorIntervalBorder;
}
.ui.week .time.grid .time.gutter {
  background: @timeGutterBackground;
  vertical-align: bottom;
  padding: @timeGutterPadding;
  text-align: right;
}
.ui.week .time.grid .time.gutter .text {
  color: @timeGutterTextColor;
  margin-bottom: -0.5em;
}

.ui.week .time.grid .minor.interval .time.interval {
  border-bottom: @timeGridMinorIntervalBorder;
}

.ui.week .header .cell {
  height: @headerCellHeight;
  padding: @headerCellPadding;
  border: @headerCellBorder;
}
.ui.week.borderless .header .cell:last-child {
  border-right: 0;
}
.ui.week.borderless .header .cell {
  border-top: 0;
}
.ui.week.right.aligned .header .cell {
  text-align: right;
}
.ui.week.center.aligned .header .cell {
  text-align: center;
}
.ui.week .scroller {
  position: relative;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.ui.week .layout.appointment {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}


.ui.week .appointments .position.layout {
  position: relative;
}

.ui.week .appointments .appointment {
  position: absolute;
  background: @weekAppointmentBackground;
  cursor: pointer;
  padding: @weekAppointmentPadding;
  border-left: @weekAppointmentBorder;
  top: 0;
  left: 0%;
  right: 0%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-height: 2em;
  box-shadow: @boxShadow;
}

.ui.week .appointments .appointment.overlap {
  width: 50%;
  opacity: 0.8;
}

.ui.week .appointments .appointment.overlap .text {
  display: none;
}

.ui.week .appointments .appointment.overlap.post {
  left: 50%;
}

.ui.week .appointments .appointment:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0.9em;
  width: 0.5em;
  height: 0.5em;
  border-radius: 0.5em 0.5em;
  margin-top: -0.25em;
  background: @blue;
}

.ui.week .appointments .appointment .text {
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}

.ui.week .appointments .appointment .time {
  padding-right: 0.5em;
}

.ui.week .appointments .appointment.active {
  background: @weekAppointmentActiveBackground;
  color: @weekAppointmentActiveColor;
  z-index: 2;
}

/**
 * Disabled Week Appointments
 */
.ui.week .appointments .appointment.disabled {
  background   : @disabledWeekAppointmentBackground;
  color        : @disabledWeekAppointmentColor;
  border-color : @disabledWeekAppointmentBorderColor;
  cursor       : @disabledWeekAppointmentCursor;
}
