/*******************************
            Global
*******************************/

/*--------------
      Demo
---------------*/

/*#sink {
  background-color: #FFFFFF;
}*/

#sink .demo.container{
  width: 700px;
  margin: 0px auto;
}

#sink .page-content {
  padding-left: 121px;
}

#sink {background: #E8E8E8 !important;}

#sink .demo.container .example p {font-size: 16px;}

#sink .demo.container .example {
  padding: 2em 0em;
  margin: 2em 0em;
  border-top: 1px solid #DDD;
}
.example .ui.statistics .statistic > .value, .ui.statistic > .value {text-transform: initial;}

#sink .demo.container .button.demo > .buttons,
#sink .demo.container .button.demo > .button,
#sink .demo.container .button.demo > .segment > .button {
  margin-bottom: 0.5em;
}
.section-blue img {width:50%;display: block;margin: 0 auto;}
.demo .ui.button {margin-bottom:10px;}
#sink .demo p {font-size: 16px;}
.demo .ui.dividing.header {color:#8E8E8E;}
h2.header {margin-top:82px;}
.demo h2.ui.dividing.header {padding-top:40px;}


#sink .ui.inverted.statistic .label {padding:30px 8px;}
#sink .ui.inverted.statistic.small .label{padding:20px 0;}

#sink .demo.container h4:first-child {
  font-weight: bold !important;
  margin: 0em 0em 1em !important;
}
#sink .demo.container .example:first-child {
  margin-top: 0;
  padding-top: 0;
}
.demo.container.main {padding-bottom:140px;}
.demo.container.bottom{padding-bottom:80px;}
.section-grey {background-color:#E8E8E8 !important;}
.section-white {background-color: #fff !important;}
.section-white.top {padding-bottom:180px;margin-top: -24px;}
.section-blue {background-color: rgb(159, 220, 247);margin-top:-25px;}
.section-blue .section-head {color:#333;}
#sink .ui.icon.menu > .item{padding: 21px 10px !important;}
#sink .demo.container .segment.example {
  z-index: 1;
}
.right-side {padding-left:120px;}
.p-top {padding-bottom:30px;}
#sink .demo.container .ui.label:not(.empty) {
  /*margin-bottom: 1em;*/
}
.component-head {padding-top:25px;}
#sink .section-head {text-align:center;padding-top: 140px;padding-bottom:40px;}
.demo.icons .circ .icon{font-size: 2.4em}
#sink .demo.container .segment .ui.label {
  margin-bottom: 0em;
}
#sink .demo i.inverted.bordered.icon, i.inverted.circular.icon {background-color: #868686 !important;}
.circ {text-align: center !important}
.circ span {color:#666;font-size: 13px;display:block;}
.ui.icon.menu > .item {padding: 16px;}

.ui.statistic.primary.segment {background-color:#2a94d6 !important;}
.ui.statistic.secondary.segment {background-color:#52B0FF !important;}
.ui.statistic.lightblue.segment {background-color:#DFEFFD !important;}
.ui.statistic.lightgrey.segment {background-color:#e0e0e0 !important;}
.ui.statistic.orange.segment {background-color:#F48A52 !important;}
.ui.statistic.yellow.segment {background-color:#F3AE4E !important;}
.ui.statistic.green.segment {background-color:#4AB471 !important;}
.ui.statistic.lightorange.segment {background-color:#ffaf23 !important;}
.ui.statistic.purple.segment {background-color:#717ECD !important;}
.ui.statistic.red.segment {background-color:#CF5C60 !important;}
.ui.statistic.pink.segment {background-color:#D96383 !important;}
.ui.statistic.black.segment {background-color:#1B1C1D !important;}
.lightblue .label {color:#333 !important;}
.lightgrey .label {color:#333 !important;}
.ui.statistic.darkblue.segment {background-color:#344A5F !important;}

